<!DOCTYPE html>
<html xmls:th="http://www.thymyleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ingresar Estudiantes</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>

<h1> REGISTRO DE ESTUDIANTES</h1>
	<form th:action="@{/estudiantes/registro}" th:object="${estudiante}" th:method="POST">
		<table class="table table-striped-columns">
			<tr>
				<td><label>Nombre:</label></td>
				<td><input type="text" th:field="${estudiante.nombre}"></td>
			</tr>
			
			<tr>
				<td><label>Apellido: </label></td>
				<td><input type="text" th:field="${estudiante.apellido}"></td>
			</tr>
			
			<tr>
				<td><label>cedula: </label></td>
				<td><input type="text" th:field="${estudiante.cedula}"></td>
			</tr>
			
			<tr>
				<td><label>Fecha de Nacimiento: </label></td>
				<td><input type="text" th:field="${estudiante.fechaNaciemiento}"></td>
			</tr>
		</table>
		
	<input type="submit" class="btn btn-success" value="GUARDAR">
	</form>

</body>

</html>